A00_Tools_and_Techniques.ipynb
Beyond_Vibe_Coding_Early_Release_-_Addy_Osmani.pdf
Python_Programming_for_Beginners_-_Oliver_Morgan.pdf
A01_model.ipynb
A03_Prompt.ipynb
A04_Workflows.ipynb
__pycache__/example.cpython-313.pyc
my_module/__pycache__/__init__.cpython-313.pyc
my_module/__pycache__/example.cpython-313.pyc
